# These are the defaults
# Copy this file as "ruuvi-collector.properties" to the same directory as the collector application itself is and
# uncomment the lines and change the values, if you need

# Minimum interval in milliseconds for measurements per measurement type per tag.
# This is to avoid saving too many measurements especially with the default firmware which sends measurements every 0.5 seconds
# For example 9900 means post at most one measurement type per tag per 9.9 seconds
#measurementUpdateLimit=9900

# Limiting strategy, currently valid values: "default" and "defaultWithMotionSensitivity".
# The default in both is to discard packets and only to save a packet every [measurementUpdateLimit] milliseconds
# (see above). Additionally, the "defaultWithMotionSensitivity" strategy saves packets that exhibit sudden acceleration
# changes. The exact threshold is configurable using the limitingStrategy.defaultWithMotionSensitivity.threshold
# property.
#limitingStrategy=default

# Note, the value below has no effect if "default" has been set as the limiting strategy above.
# Value of "1" corresponds to 1 G. The default is 0.05, i.e. 50 mG.
#limitingStrategy.defaultWithMotionSensitivity.threshold=0.05

# Filtering for sources based on the source MAC address (blacklist or whitelist)
# Valid values "none", "blacklist" and "whitelist".
# none      = Allows any source to be stored (default)
# blacklist = Allows all sources EXCEPT those listed
# whitelist = Allows ONLY sources that are listed in filter.macs
# named     = Allows ONLY sources that are listed in ruuvi-names.properties
#filter.mode=none

# Mac addresses to blacklist/whitelist. This has no effect if filter.mode is set to none
#filter.macs=ABCDEF012345,F1E2D3C4B5A6

#
# Advanced configuration - Change these only if you know what you are doing
#

# Commands for starting the BLE scanning and the dump.
# The scan command is only executed, output and exit is ignored. Setting this blank will disable this command.
# The dump command is executed and it's output is parsed, the collector will exit when/if this command ends
# In general you want to change these only if you intend to use wrapper scripts or you need to use absolute paths to the executables
#command.scan=hcitool lescan --duplicates --passive
#command.dump=hcidump --raw
